@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'custom';
  src: url('./fonts/KCC-Hanbit.woff2') format('woff2'),
       url('./fonts/KCC-Hanbit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}